@import '../../core/styles/mq';

.container {
    padding: 2rem;
    width: 95%;
    background-color: white;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.75);
    &__row {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
        @include sm {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__listBox{
        width: 100%;
        justify-content: center;
        align-content: center;
        display: flex;
        margin-left: 0rem;

        @include sm {
            justify-content: flex-start;
            margin-left: 5rem;
        }
    }

    &__loginText {
        display: inline;
        font-weight: bold;
        margin: 0;
        font-size: 1.5rem;
        @include sm {
            font-size: 2rem;
        }

        @include md {
           font-size: 2.5rem;
        }
    }

    &__infoText{
        margin: 1rem 0rem;
        font-size: 1rem;
        @include sm {
           font-size: 1.5rem;
        }
    }

    &__image {
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;

        @include sm {
            width: 8rem;
            height: 8rem;
            border-radius: 4rem;
        }

        @include md {
            width: 10rem;
            height: 10rem;
            border-radius: 5rem;
        }
    }

    &__button {
        cursor: pointer;
        color: white;
        background-color: black;
        width: 6rem;
        height: 2rem;
        margin: 1rem;
        border: none;
        border-radius: 0.3rem;

        @include sm {
            width: 6rem;
            height: 3rem;
            margin: 1rem;
            border: none;
            border-radius: 0.5rem;
        }
    }

    @include sm {
        width: 70%;
    }

}